<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="expire" content="never">

        <title>KEKTAPE Equipment</title>

        <script src="https://kit.fontawesome.com/ff4b6e1601.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/6eef1100ac.css">
        <link rel="stylesheet" type="text/css" href="../css/_template.css">

        <!--css link-->

    </head>
    <body>
        <header>
            <img id = "header_logo" src = "../../ressources/images/website/KEKtapeLogo.png" />
            <!-- barre de recherche-->
            <form id = "header_search">
                <input type = "search" id = "search_query" name = "searchQuery" placeholder="votre recherche...">
                <button type="submit" class = "btn_search"><i class = "fa fa-search" aria-hidden="true"></i></button>
            </form>
            
            <!--navbar-->
            <nav id = "header_nav" class = "header_dropdown_content">
                <!--navlist-->
                <a class = "header_nav_button" href=#>TOP VENTES</a>
                <a class = "header_nav_button" href=#>PROTECTIONS</a>
                <a class = "header_nav_button" href=#>CASQUES AUDIO</a>
                <a class = "header_nav_button" href=#>GILETS</a>
                <a class = "header_nav_button" href=#>SACS</a>

                <a class = "header_nav_button" href=#>PANIER</a>
                <a class = "header_nav_button" href=#>CONNEXION</a>
                <a class = "header_nav_button" href=#>INSCRIPTION</a>

            </nav>
        </header>


        <footer>
            <!--link-->

            <!--mention legal-->
            <p>Ce site est un fanmade, aucun produit n'est vendu</p>
        </footer>
        <!--script js-->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="../js/_template.js"></script>
        <script>

        </script>
    </body>
</html>