
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="expire" content="never">

<title>KEKTAPE Equipment</title>

<script src="https://kit.fontawesome.com/ff4b6e1601.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/6eef1100ac.css">
<link rel="stylesheet" type="text/css" href="./view/css/_template.css">
<link rel="stylesheet" type="text/css" href="./view/css/StyleItemTicket.css">
<link rel="stylesheet" type="text/css" href="./view/css/StyleItemView.css">
<link rel="stylesheet" type="text/css" href="./view/css/StyleConnection.css">




